/* Variables */

$black: #231F20;
$politik-light-grey: #FAFAFA;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$white: #FFFFFF;
$politik-yellow: #FDBE11;
$politik-light-yellow: #FFE72B;
$politik-blue: #0027B0;
$politik-light-blue: #1246FC;
$politik-ice-blue: #F5F8FF;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);